<% if !pl or pl.count == 0 %>
  <span class="message warning">
    <%= _("There are no users who are not already in this group.")%>
  </span>
<% else #TODO: make this select show the permissions grouped by category %>
  <% form_for :permission_to_user_groups, 
              :html => { :id => "user-groups-list-permissions"}, 
              :as => :post, 
              :url => user_group_add_permission_url(ug) do |f| %>
                <%= f.select "permission_id", pl.sort{|q,w| q.sort_text(w)}.collect {|p| ["%s: %s" % [p.category, p.name], p.id]}, {:include_blank => true } %>
                <%= f.submit %>
  <% end %>
<% end %>

