<% title = _("Add a user to %s") % @user_group.name %>
<% content_for :title do %>
  <%=title %>
<% end %>

<h1><%=title %></h1>
<%= render :partial => "user_groups/select_users", :locals => { :ul => @user_list, :ug => @user_group } %>

<br/><br/>
<%= link_to _("Back to %s") % @user_group.name, @user_group %>
