a.icon {
    background-repeat:no-repeat;
    padding-left: 1em;
}

a.delete {
    background-image:url('../images/icons/cross.png');
}

a.edit {
    background-image:url('../images/icons/pencil.png');
}

a.disable {
    background-image:url('../images/icons/disable.png');
}

a.create-ticket {
    background-image:url('../images/icons/money_add.png');
}

article.event {
  background-color: #eee;
  border: 1px solid #000;
}
