a.delete {
    background-image:url('../images/cross.png');
    background-repeat:no-repeat;
    padding-left: 1em;
}

a.edit {
    background-image:url('../images/pencil.png');
    background-repeat:no-repeat;
    padding-left: 1em;
}

a.disable {
    background-image:url('../images/disable.png');
    background-repeat:no-repeat;
    padding-left: 1em;
}
