body {
	padding: 0.2em;
	font-size: 16px;
	font-family: "Droid Sans", Arial, sans-serif;
}

body {
	height:auto !important;
	margin:0 auto -4em;
	min-height:100%;
	position:relative;
	/*width:990px;*/
}

nav.inline ul {
	list-item-style: none;
	display: inline;
}

nav.inline ul li {
	list-item-style: none;
	display: inline;
}
section#header {
	margin-bottom: 1em;
}
section#header nav#user {
	position: absolute;
	top: 0.2em;
	right: 0.2em;
}
section#header nav#modules {
	clear: both;
}
section#header header h1 {
	font-size: 5em;
}

section#header header h2 {
	font-size: 0.8em;
	font-style: italic;
	color: #999;
}
section#content {
	margin-bottom:5em;
}

dl.info-list, dl.form-list {
    padding-bottom: 2em;
    margin-left: 25px;
}

dl.info-list fieldset, dl.form-list fieldset {
    border-style:solid;
    border-width:1px;
    width: 650px;
    padding: 1em 0px 1em 0px;
}

dl.info-list legend, dl.form-list legend {
    margin-left: 2em;
    font-size: 115%;
}

dl.info-list dt, dl.form-list dt {
    float: left;
    margin-left: 2em;
}

dl.info-list dd {
    margin-left: 15em;
    height: 1em;
}

dl.form-list dd {
    margin-left: 15em;
    height: 1.5em;
}

.submit-options {
    margin-left: 250px; /* hack, will make this look better later */
}

br.clear-footer {
	clear:both;
	margin:1.5em;
}

#user-admin-tools {
    float: right;
    padding-right: 10px;
    margin-top: -20px;
}

footer {
	bottom:0;
	clear:both;
	font-size:85%;
	height:4em;
	position:absolute;
	/*width:100%;*/
}
