<% if current_user.can('users.administrate') %>
<section id="user-admin-tools" class="admin-tools">
	<header>
		<h1><%= _('Adminster %s') % @user.handle  %></h1>
	</header>
	<ul>
		<li><%= link_to(_('Edit %s') % @user.handle , edit_user_path(@user), :class => 'icon edit') %></li>
		<li><%= link_to(_('Delete %s') % @user.handle, user_path(@user), :confirm => _('Are you sure you want to delete %s?') % @user.handle, :method => :delete, :class => 'icon delete' ) %></li>
<!--		<li><%= link_to(_('Disable %s') % @user.handle, edit_user_path(@user), :class => 'icon disable' ) %></li> -->
	</ul>
</section>
<% end %>
