<h1>Editing user</h1>

<% form_for @user, :url => user_path(@user) do |f| %>
	<%= f.error_messages %>
	<%= render :partial => "edit_form", :locals => { :f => f } %>
	<%= f.submit _('Save changes') %>
<% end %>

<%= link_to _('Cancel'), @user %>
