<% title = "Tournaments for" + current_event.name %>
<% content_for :title do %>
  <%=title %>
<% end %>

<h1><%=title %></h1>
<ul>
<% @tournaments.each do |t| %>
  <li>
    <div>
      <h2><%= t.name %></h2>
      <div class="meter">
        <span style="width: <%= t.progress_meter %>%"></span>
      </div>
    </div>
  </li>
<% end %>
</ul>
