<% title = _("Tournaments for %s") % current_event.name %>
<% content_for :title do %>
  <%= title %>
<% end %>

<h1><%= title %></h1>
<ul id="tournaments">
  <%= render :partial => "individual", 
             :collection => @tournaments, 
             :as => :tournament %>
</ul>
