<% if notice and not notice.empty? %>
  <p class="notice">
    <%= notice %>
  </p>
<% end %>

Please note that this is a work in progress and that any information you
input into this system will likely be deleted without a care for your precious little ego, n00b.
