<% if current_user and current_user.can 'events.administrate' %>
  <section id="event-admin-tools" class="admin-tools">
    <ul>
      <li><%= link_to _('Edit'), edit_event_path(@event), :class => 'icon edit' %></li>
      <li><%= link_to _('Delete'), @event, :confirm => 'Are you sure?', :method => :delete, :class => 'icon delete' %></li>
    </ul>
  </section>
<% end %>

