<section class="widget expanded" id="opensource">
  <header>
    <h1>PLAS is open source!</h1>
  </header>
  <section class="content">
    <p>PLAS is licensed under the <%= link_to _("GNU Affero General Public License"), 'http://www.gnu.org/licenses/agpl.html' %>.</p>
    <p align="center"><%= image_tag "logos/osi_symbol.png", :alt => _("OSI logo"), :height => 128 %></p>
    <p>You can obtain its source at <%= link_to Plas::PROJECT_URL, Plas::PROJECT_URL %>.</p>
  </section>
</section>
