<section class="widget expanded" id="welcome">
  <header>
    <h1>Welcome</h1>
  </header>
  <section class="content">
    <p>Welcome to this in-development LAN party administration system. Here's what's working right now, so feel free to play around with it.</p>

    <ul class="bullets">
      <li>Create an account</li>
      <li>Become the administrator if one doesn't exist</li>
      <li>Create User Groups</li>
      <li>Add/remove users to User Groups</li>
      <li>Create Permissions</li>
      <li>Give permissions to User Groups</li>
      <li>Create Events</li>
      <li>Register for Events</li>
      <li>Pay for Event Registrations with PayPal</li>
      <li>Pay for Event Registrations with an offline payment</li>
      <li>Mark users as paid</li>
      <li>Transfer Event Registration to other Users</li>
      <li>Shout in the shoutbox!</li>
      <li>Offer a PDF waiver for events!</li>
    </ul>
  </section>
</section>
