<section id="header">
<nav id="user" class="inline">
<ul>
<li>[logged in username]</li>
<li><%= link_to _("Login"), user_sessions_url %></li>
</ol>
</nav>
<header>
<h1><%= _("Pitt.co") %></h1>
<h2><%= _("Pittco LAN Party Administration System") %></h2>
</header>
<nav id="modules" class="inline">
<ul>
<li><%= link_to _("Users"), users_path %></li>
</ul>
</nav>
</section>
