<section id="header">
<nav id="user" class="inline">
<%=
if @current_user
	render :partial => "layouts/registered_user"
else
	render :partial => "layouts/guest_user"
end
%>
</nav>
<header>
<h1><%= _("Pitt.co") %></h1>
<h2><%= _("Pittco LAN Party Administration System") %></h2>
</header>
<nav id="modules" class="inline">
<ul>
<li><%= link_to _("Users"), users_path %></li>
</ul>
</nav>
</section>
