<ul>
    <li class="event-name"><%= current_event.name %>
    <ul>
      <li>
        <%= link_to _("Dashboard"), root_path %>
        <%= link_to _("Tournaments"), root_path %>
        <%= link_to _("Seating Map"), root_path %>
      </li>
    </ul>
  </li>
</ul>
